spring:
    datasource:
        url: jdbc:h2:tcp://localhost/~/signLanguageDB
        username: sa
        password:
        driver-class-name: org.h2.Driver
    jpa:
        hibernate:
            ddl-auto: create
        show-sql: true
        open-in-view: true

logging:
    level:
        org.hibernate.SQL: debug
        org.hibernate.type: trace